<p>&nbsp;</p>
<script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
<script type="text/javascript">// <![CDATA[
var urlCookie = ("; "+document.cookie).split("; price_product=").pop().split(";").shift();
console.log('urlCookie '+ urlCookie);

hbspt.forms.create({
    portalId: '212347',
    formId: '9b79298e-89cf-41b5-9801-f59d347dcd08',
    redirectUrl: urlCookie,
    onFormReady: function($form,ctx) { console.log('form ready');
    },

    onFormSubmit: function($form) {
        document.cookie = "guest_status=guestuser; expires=Thu, 18 Dec 2099 12:00:00 UTC; path=/";

    }
});
// ]]></script>