// PASTE CUSTOM STYLING HERE

.hidden {
  display: none;
}


//Hide SCCOR prices PDP
.price-section .price {
display: none;
}

.tab-content.overview img {
  margin-right: 4px;
  vertical-align: baseline;
}

.form-field--increments {
  display: none;

}

#form-action-addToCart {
  display: none;
}

//Hide SCCOR prices Categories/Related/Upsells
.price-visibility .price-section {
  display: none;
}

.price-visibility .add-to-cart-button {
  display: none;
}

//cart and scheckout
.cart-header-sscor-availabilty {
  text-align: center;
}

//pdp tab views
article.productView-description ul.tabs li.tab:not(.is-active) {
  background: #ebebeb !important;
}

.tab.is-active:hover {
  background: #e0e0e0 !important;
}

.cart-item-info #sscor-availability {
  text-align: center;
}

//print pdp ONLY
@media print {

  //Hide the PageBuilder stuff added after theme
  [data-content-region|="product_below_review"] {
    display: none !important;
  }

  //Hide the recommendations
  [data-content-region|="product_below_tabs"] {
    display: none !important;
  }

  //Hide zoom hints
  .mz-hint-hidden, .mz-hint {
    display: none !important;
  }


  .header-padding {
    padding: 0 !important;
  }

  div.header-logo img {
    max-height: 80px;
  }

  div.top-menu {
    display: none !important;
  }

  div.sideCategoryList {
    display: none;
  }

  div.schema-product {
    width: 100% !important;
  }
  .product.main.left .main-image-container {
    margin-bottom: 0;
  }

  #product-images-container {
    width: 100% !important;
    margin-top: 30px;
  }

  .product.main.left div#product-images-container {
    margin-bottom: 0;
  }

  .product-page-with-sidenav section.productView-details {
    position: absolute;
    top: 20px;
    width: 100% !important;
  }

  div.productView-price {
    float: right;
    width: 20%;
  }

  div.price-section {
    padding-top: 4px;
  }

  .navPages-container {
    display: none !important;
  }

  article.productView-description ul.tabs {
    border: none !important;
  }

  .product.main .tabs-contents {
    border: none !important;
  }

  .product.main.left div#product-images-container {
    width: 50%;
  //  margin-bottom: 20px;
  }

  div.productView-details {
    width: 50%;
  }

  button.slick-arrow {
    display: none !important;
  }

  ul.account-link {
    display: none !important;
  }

  div.sscor-visibility {
    display: none !important;
  }
  div.productView-options {
    display: none !important;
  }

  div.addthis_toolbox {
    display: none !important;
  }

  hr {
    display: none;
  }

  div.related-products-container {
    display: none !important;
  }

  article.productView-description {
    margin-bottom: 0;
    border: none !important;
  }

  ul.tabs, .product.main li.tab {
    border: none !important;
    border-left: none !important;
  }

  li.tab.overview a {
    color: black !important;
    border: none !important;
    margin-left: none;
  }

  li.tab.overview h1 {
    margin-top: 8px;
  }

  li.tab.videos {
    display: none !important;
  }

  li.tab.warranty {
    display: none !important;
  }

  div.tabs-contents {
    //text-align: center;
    margin: 0 auto;
  }

  footer {
    display: none !important;
  }

}