{{#if items}}
<div class="accordion-block">
    <div
        class="accordion-navigation toggleLink {{#unless ../start_collapsed }} is-open {{/unless}}"
        role="button"
        data-collapsible="#facetedSearch-content--{{hyphenate facet }}">
        <h5 class="accordion-title">
            {{ title }}
        </h5>

        <div class="accordion-navigation-actions">
            {{#if selected}}
                <a href="{{ remove_url }}" class="facetedSearch-clearLink" data-faceted-search-facet>{{lang 'search.faceted.clear'}}</a>
            {{/if}}
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-add" />
            </svg>
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
                <use xlink:href="#icon-remove" />
            </svg>
        </div>
    </div>

    <div id="facetedSearch-content--{{hyphenate facet }}" class="accordion-content {{#unless ../start_collapsed }} is-open {{/unless}}">
        <ul id="facetedSearch-navList--{{hyphenate facet }}" class="navList" data-facet="{{facet}}" data-has-more-results="{{ has_more_results }}">
            {{#each items}}
                <li class="navList-item">
                    <a
                        href="{{ url }}"
                        class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}} {{#if has_sub_categories }} has-children {{/if}}"
                        rel="nofollow"
                        data-id="{{ id }}"
                        data-faceted-search-facet>
                        {{{sanitize title}}}
                        {{#if ../show_product_counts}}
                            {{#if count}}
                                <span>({{ count }})</span>
                            {{/if}}
                        {{/if}}
                    </a>
                    {{#if children}}
                        {{> components/faceted-search/facets/hierarchy-children children}}
                    {{/if}}
                </li>
            {{/each}}
        </ul>

        {{#if show_more_toggle}}
            <a href="#facetedSearch-navList--{{hyphenate facet }}" role="button" class="toggleLink">
                <span class="toggleLink-text toggleLink-text--off">{{lang 'search.faceted.show-more'}}</span>
            </a>
        {{/if}}
    </div>
</div>
{{/if}}
