<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <!-- {{{stylesheet '/assets/font-awesome/css/font-awesome.min.css'}}} -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,300i,400,400i,700,700i|IBM+Plex+Sans:400,400i,700,700i" rel="stylesheet">
        <script src="https://use.fontawesome.com/63220265b2.js" async></script>
        <script src="https://scripts.sirv.com/sirv.js"></script>
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <script>
            {{!-- Change document class from no-js to js so we can detect this in css --}}
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>

        {{> components/common/polyfill-script }}

        {{!-- Load Lazysizes script ASAP so images will appear --}}
        <script>
            {{!-- Only load visible elements until the onload event fires, after which preload nearby elements. --}}
            window.lazySizesConfig = window.lazySizesConfig || {};
            window.lazySizesConfig.loadMode = 1;
        </script>
        <script async src="{{cdn 'assets/dist/theme-bundle.head_async.js'}}"></script>


        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{~inject 'themeSettings' theme_settings}}
        {{~inject 'genericError' (lang 'common.generic_error')}}
        {{~inject 'maintenanceModeSettings' settings.maintenance}}
        {{~inject 'adminBarLanguage' (langJson 'admin')}}
        {{~inject 'urls' urls}}
        {{~inject 'secureBaseUrl' settings.secure_base_url}}
        {{~inject 'cartId' cart_id}}
        {{~inject 'channelId' settings.channel_id}}
        {{~inject 'template' template}}

        {{{stylesheet '/assets/css/theme.css'}}}
        {{{stylesheet '/assets/css/pinnacle.css'}}}
        {{{stylesheet '/assets/css/custom.css'}}}
        {{ getFontsCollection }}

    </head>
    <body class="main{{#if theme_settings.body_width '===' 960}} nine-sixty{{/if}} {{#if theme_settings.body_width '===' 1170}} eleven-seventy {{/if}} {{#if theme_settings.body_width '===' 1280}} twelve-eighty {{/if}} {{#if theme_settings.body_width '===' 1366}} thirteen-sixty-six {{/if}} {{#if theme_settings.body_width '===' 1440}} fourteen-forty {{/if}}">

      <!-- ACTIVE SHOPNAV DIM PAGE -->
            <div id="shopnav-dim-page" style="display: none;">
              <div style="top: 50%; left: 50%; display: none;" id="dialog" class="window">
                <div id="san"></div>
              </div>
              <div style="width: 2478px; font-size: 32pt; color:white; height: 1202px; display: none; opacity: 0.4;" id="mask"></div>
            </div>
            <!-- END ACTIVE SHOPNAV DIM PAGE -->

        {{{snippet 'header'}}}
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}

        {{#if banners.top}}
          <div class="banners" data-banner-location="top">
            <div class="banner">
              {{{limit banners.top 1}}}
            </div> <!-- banner -->
          </div> <!-- banners -->
        {{/if}}

        {{> components/common/body }}

        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
        <script>
            {{!-- Exported in app.js --}}
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" async></script>
        <script>
        // This will make sure WebFont.load is only used in the browser.
        if (typeof window === 'undefined') {
	        var WebFont = require('webfont');
	        WebFont.load({
		      google: {
			      families: ['Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,', 'Roboto+Condensed:300,300i,400,400i,700,700i']
		        },
	        });
        }
        </script>

        {{{footer.scripts}}}
    </body>
</html>
