<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <!-- {{{stylesheet '/assets/font-awesome/css/font-awesome.min.css'}}} -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,300i,400,400i,700,700i|IBM+Plex+Sans:400,400i,700,700i" rel="stylesheet">
        <script src="https://use.fontawesome.com/63220265b2.js" async></script>
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <script>
            {{!-- Change document class from no-js to js so we can detect this in css --}}
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>

        {{> components/common/polyfill-script }}

        {{!-- Load Lazysizes script ASAP so images will appear --}}
        <script>
            {{!-- Only load visible elements until the onload event fires, after which preload nearby elements. --}}
            window.lazySizesConfig = window.lazySizesConfig || {};
            window.lazySizesConfig.loadMode = 1;
        </script>
        <script async src="{{cdn 'assets/dist/theme-bundle.head_async.js'}}"></script>

        {{ getFontsCollection }}
        {{{stylesheet '/assets/css/theme.css'}}}
        {{{stylesheet '/assets/css/pinnacle.css'}}}
        {{{stylesheet '/assets/css/custom.css'}}}

        {{{head.scripts}}}

        {{~inject 'themeSettings' theme_settings}}
        {{~inject 'genericError' (lang 'common.generic_error')}}
        {{~inject 'maintenanceModeSettings' settings.maintenance}}
        {{~inject 'adminBarLanguage' (langJson 'admin')}}
        {{~inject 'urls' urls}}
        {{~inject 'secureBaseUrl' settings.secure_base_url}}
        {{~inject 'cartId' cart_id}}
        {{~inject 'channelId' settings.channel_id}}
        {{~inject 'template' template}}

    </head>
    <body id="body" class="main home{{#if theme_settings.body_width '===' 960}} nine-sixty{{/if}} {{#if theme_settings.body_width '===' 1170}} eleven-seventy {{/if}} {{#if theme_settings.body_width '===' 1280}} twelve-eighty {{/if}} {{#if theme_settings.body_width '===' 1366}} thirteen-sixty-six {{/if}} {{#if theme_settings.body_width '===' 1440}} fourteen-forty {{/if}} {{#if theme_settings.slider_width '===' 'full-width'}}slider-full-width{{/if}} {{#if theme_settings.slider_width '===' 'in-container-floated'}}slider-in-container-floated{{/if}} {{#if theme_settings.slider_width '===' 'in-container'}}slider-full-width-in-container{{/if}} {{#if theme_settings.home_page_layout '===' 'no-sidenav'}} no-sidenav {{/if}}">

      <!-- NEWSLETTER POPUP -->
      {{#if settings.show_newsletter_box}}
      {{#if ../theme_settings.popup_visibility '===' 'popup-active'}}
      <div id="newsletter-popup">
        <div style="top: 50%; left: 50%; display: none;" id="dialog" class="window">
          <div id="san">
            <a href="#" class="close agree"><img src="{{cdn 'assets/img/close-window.png'}}" style="float:right;"></a>
              <div class="newsletter-popup-content">
                <h1 class="newsletter-headline">{{lang 'newsletter.popup_headline'}}</h1>
                  <div class="content">
                      <div class="" data-section-type="newsletterSubscription">
                              {{> components/common/subscription-popup-form}}
                      </div>
                      <div class="clear"></div>
                  </div>
              </div>
          </div>
          </div>
        <div style="width: 2478px; font-size: 32pt; color:white; height: 1202px; display: none; opacity: 0.4;" id="mask"></div>
      </div>
      {{/if}}
      {{/if}} <!-- END NEWSLETTER POPUP -->

      <!-- ACTIVE SHOPNAV DIM PAGE -->
      <div id="shopnav-dim-page" style="display: none;">
        <div style="top: 50%; left: 50%; display: none;" id="dialog" class="window">
          <div id="san"></div>
        </div>
        <div style="width: 2478px; font-size: 32pt; color:white; height: 1202px; display: none; opacity: 0.4;" id="mask"></div>
      </div>
      <!-- END ACTIVE SHOPNAV DIM PAGE -->

        {{{snippet 'header'}}}
        <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
        <script>
            {{!-- Exported in app.js --}}
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" async></script>
        <script>
        // This will make sure WebFont.load is only used in the browser.
        if (typeof window === 'undefined') {
	        var WebFont = require('webfont');
	        WebFont.load({
		      google: {
			      families: ['Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,', 'Roboto+Condensed:300,300i,400,400i,700,700i']
		        },
	        });
        }
        </script>

        {{{footer.scripts}}}
        <div class="clear"></div>
    </body>
</html>
